@charset "UTF-8";

div.container{
    background-color: lightsalmon;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    width: 300px;
    align-items: center;
}

div.item{
    background-color: rgb(65, 247, 141);
    border: 1px solid black;
    padding: 10px;
}