@charset "UTF-8";

.burguer{
    background-color: #000527;
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px;
}

.burguer:hover{
    background-color: white;
    color: #000527;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: var(--darkblue);
    color: white;
    border-top: 2px solid var(--blue);
}

menu > ul > li > a:hover{
    background-color: #133da0;
}

.media-query{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#celular { 
    display: block;
    margin-top: 15px;
}

#tablet, #computador{
    display: none; 
}
