@charset "UTF-8";

/*Versão Mobile First*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0px;
    padding-bottom: 0px;
}

html{
    height: 100vh;
}

body{
    background-color: lightgray;
}

header{
    background-color: gray;
}

header > h1{
    text-align: center;
    padding: 10px;
    font-size: 2em;
}

menu{
    background-color: rgb(78, 78, 78);
    padding: 10px;
}

menu > ul{
    list-style-type: none;
    padding: 0px;
}

menu > ul > li > a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    border: 1px solid rgb(156, 155, 155);
}

menu > ul > li > a:hover{
    background-color: rgb(119, 119, 119);
    
}

.menu{
    width: 90vw;
}

.mobilefirst{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.query{
    background-color: rgba(255, 255, 255, 0.74);
    width: 400px;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}

div > h1{
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.671);
}

img{
    display: block;
    margin: auto;
}

img#celular{
    display: block;
}
img#tablet{
    display: none;
}
img#print{
    display: none;
}
img#pc{
    display: none;
}
img#tv{
    display: none;
}